.register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../../images/sidebarBackground.jpg");
    width: 28vw;
    height: 87vh;
    position: fixed;
    align-items: center;
    padding: 8vh 0 5vh;
}

.register__logo {
    fill: black;
    width: 5vw;
    align-self: center;
    border-radius: 11px;
}

.register__form {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-between;
    align-items: center;
}

.register__form > input {
    width: 15vw;
    height: 3vh;
    border-radius: 10px;
    border-style: outset;
}

.register__form > input:focus {
    outline: none;
}

.register__form_button {
    width: 12vw;
    height: 4vh;
    border-radius: 13px;
    margin-top: 4vh;
    background-color: rgba(236, 234, 234, 0.1);
}

.register__link {
    color: black;
    font-size: 14px;
    /*text-decoration: none;*/
}
