.basketPage__content {
    margin-left: 28vw;
    background: #EDDCCD;
}

.basketPage__content > form {
    padding: 0 4vw 2vh;
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: space-between;
}

.basketPage__input {
    width: 35vw;
    height: 3vh;
    border-radius: 12px;
    padding: 1vh 1vw;
    border: none;
}

.basketPage__input:focus {
    outline: none;
}

.basketPage__button {
    width: 10vw;
    border-radius: 10px;
    background-color: rgba(236, 234, 234, 0.5);
    cursor: pointer;
}